* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../RobotoFonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../RobotoFonts/Roboto-Thin.ttf);
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

main {
    margin-top: 64px;
}

body {
    font-family: "Roboto";
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 9%;
    padding-right: 9%;
}

figcaption {
    font-weight: 1000;
    margin: 10px;
}

#logo {
    display: flex;
}

#logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 12px;
}

#logo p {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
    padding-left: 9%;
}

.secondFlex {
    display: flex;
    gap: 3rem;
}

.secondFlex a:hover {
    color: lightskyblue;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #f9faf8;
    padding: 8px 16px;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: #f9faf8;
    padding: 6px 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #1f2937;
}

.active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.thirdFlex p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto-Thin";
}

.thirdFlex {
    background-color: #1f2937;
    display: flex;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fourthFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fourthFlex p {
    padding-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.fourthFlex button {
    margin-top: 1rem;
}

.thirdFlex img {
    width: 60%;
    height: auto;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    font-size: large;
    padding: 15px;
    border: none;
    align-self: flex-start;
}

button:hover {
    transform: scale(1.1);
}

figure,
.quote {
    background-color: #f9faf8;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 9%;
    margin: 0;
    font-family: "Roboto-Thin";
    font-weight: 1000;
}

.quote b {
    align-self: flex-end;
    font-weight: 800;
    font-family: "Roboto";
}

.takeAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    margin: 0 12rem;
    background-color: #3882f6;
}

.takeAction div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.takeAction div h2,
.takeAction div p {
    margin: 0;
    color: #f9faf8;
}

.takeAction div p {
    font-family: "Roboto-Thin";
    font-weight: 1000;
}

.takeAction button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    font-size: large;
    padding: 12px;
    width: 30%;
}

h2 {
    text-align: center;
}

.petImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

.petImages img {
    border-radius: 10px;
    border: solid 5px #3882f6;
}

.burger {
    display: none;
}

figcaption {
    font-family: "Roboto-Thin";
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: #1f2937;
    color: #e5e7eb;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .takeAction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        margin: 0 2rem;
        background-color: #3882f6;
    }

    .takeAction div h2 {
        font-size: large;
        align-self: flex-start;
    }

    .secondFlex {
        display: none;
    }

    .burger {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .dropdown-content {
        right: 0;
        top: 24;
    }
}
